<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        {% include 'head.html' %}
        <link rel="stylesheet" href="/static/galeryStyle.css?{% now "U" %}">
    </head>
    <body>

        {% include 'header.html' %}
        
        <div class="mainContentHold">
            <h1> Galeria</h1>
            <div class="grid-container">
                <div><img class="item1img" src="/static/img/gallery/001Nw1199h1214.jpg"></div>
                <div><img class="item2img" src="/static/img/gallery/002Nw1162h1742.jpg"></div>       
                <div><img class="item3img" src="/static/img/gallery/003Nw640h960.jpg"></div>
                <div><img class="item4img" src="/static/img/gallery/003Nw640h960.jpg"></div>

                <div><img class="item5img" src="/static/img/310118871_10227647039392502_6622890541442587325_n.jpg"></div>
                <div><img class="item6img" src="/static/img/53736358_284851395790650_8772807101098491904_n.jpg"></div>
                <div><img class="item7img" src="/static/img/53530333_284361332506323_5830650238712414208_n.jpg"></div>
                <div><img class="item8img" src="/static/img/310118871_10227647039392502_6622890541442587325_n.jpg"></div>
                <div><img class="item9img" src="/static/img/53736358_284851395790650_8772807101098491904_n.jpg"></div>
                <div><img class="item10img" src="/static/img/53530333_284361332506323_5830650238712414208_n.jpg"></div>
                <div><img class="item1img" src="/static/img/310118871_10227647039392502_6622890541442587325_n.jpg"></div>
                <div><img class="item2img" src="/static/img/53736358_284851395790650_8772807101098491904_n.jpg"></div>
              </div>

        </div>
        {% include 'footer.html' %}

    </body>
</html>