<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" href="/static/headerStyle.css?{% now "U" %}"> 
    <div class="spanItemWide">
        <a class="wideListItemText" href="">HOME</a>
        <a class="wideListItemText" href="#">NOWOŚCI</a>
        <a class="wideListItemText" href="#">O NAS</a>
        <a class="wideListItemText" href="galery.html">GALIERIA</a>
        <a class="wideListItemText" href="#">WHIPPETY</a>
        <a class="wideListItemText" href="#">SZCZENIĘTA</a>
        <a class="wideListItemText" href="#">KONTAKT</a>
        <a class="wideListItemText" href="links.html">LINKI</a>
    </div>

    <span><img class="logoHeaderWide" src="static/img/logo.jpg" alt="logo"></span>

    <a class="headerText">Hope Of Nolin</a>

</header>
</html>