<!DOCTYPE html>
<html>
<header>
{% load static %}
<link rel="stylesheet" href="/static/headerStyle.css?{% now "U" %}">

<link rel="stylesheet" href="/static/bootstrap.min.css?{% now "U" %}">

    <div class="dropdown">
        <span><img class="navImg" src="/static/img/navico.png" alt="More?"></span>
        <div class="dropdown-content">
            <ul class="dropdownList">
                <li class="dropdownListItem"><a class="dropdownListItemText" href="/">O&nbspNAS</a></li>
                <li class="dropdownListItem"><a class="dropdownListItemText" href="/timeline">NOWOŚCI</a></li>
                <li class="dropdownListItem"><a class="dropdownListItemText" href="/galery">GALIERIA</a></li>
                <li class="dropdownListItem"><a class="dropdownListItemText" href="/whippets">WHIPPETY</a></li>
                <li class="dropdownListItem"><a class="dropdownListItemText" href="/puppies">SZCZENIĘTA</a></li>
                <li class="dropdownListItem"><a class="dropdownListItemText" href="/contact">KONTAKT</a></li>
                <li class="dropdownListItem"><a class="dropdownListItemText" href="/links">LINKI</a></li>
            </ul>
        </div>
    </div>
    <span><img class="logoHeader" src="/static/img/logo.jpg" alt="logo"></span>
    <span><img class="textHeaderImg" src="/static/img/headertext.png" alt="logo"></span>
</header>
</html>