body{
  background-color: rgb(234, 194, 192);
  overflow-y: scroll; overflow-x:hidden;

}
.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  /* gap: 10px; */
  background-color: rgb(92, 78, 76);
  height: fit-content;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 30px;
  max-width: 86%;

}
  

.item1img{
  max-width: 50vw;
  max-height: 48vw;
}
.item2img{
  float: right;
  max-width: 36vw;
  max-height: 48vw;
}
.item3img{
  margin-top: 1vw;
  max-width: 36vw;
  max-height: 48vw;
}
.item4img{
  margin-top: 1vw;
  max-width: 42vw;
  max-height: 48vw;
}
.item5img{
  max-width: 30vw;
  max-height: 48vw;
}
.item6img{
  max-width: 30vw;
  max-height: 48vw;
}
.item7img{
  max-width: 30vw;
  max-height: 48vw;
}.item8img{
  max-width: 30vw;
  max-height: 48vw;
}
.item9img{
  max-width: 30vw;
  max-height: 48vw;
}.item10img{
  max-width: 30vw;
  max-height: 48vw;
}