.grid-container {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    /* gap: 10px; */
    background-color: rgb(92, 78, 76);
    height: fit-content;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-size: 30px;
  }
  
  /* .item1 {
    /* grid-column-start: 1;
    grid-column-end: 3; */
.item1img{
    display: flex;
    flex-grow: 1;
    max-width: 40vw;
    max-height: 40vw;
}
.item2img{
    
    max-width: 30vw;
    max-height: 46vw;
}
.item3img{
    
    max-width: 30vw;
    max-height: 48vw;
}